---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* ----------------------------
   Custom styling for About page header image
----------------------------- */

.about-header-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

// For navigation bar 
.navbar-logo {
  height: 40px;  /* adjust as needed */
  margin-right: 0.5rem;
}

// For subtitle
.post-header .desc {
  font-size: 0.4rem;  // adjust this value as needed
  font-style: italic;   // ensures italic if not using markdown
  font-weight: bold;    // ensures bold if not using markdown
  margin-top: 0.25rem; // optional: adjust spacing below title
}


